/* General reset and styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    font-variant: small-caps;
}

header {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Adjusted for layout */
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    height: 40px;
}

.logo-container img {
    max-height: 100%;
    width: auto;
}

@media (max-width: 768px) {
    .logo-container {
        height: 30px;
    }
}

@media (max-width: 480px) {
    .logo-container {
        height: 20px;
    }
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #474747;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ccc;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.portfolio-thumbnails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: filter 0.3s ease;
}

.portfolio-item:hover img {
    filter: brightness(70%) contrast(100%);
}

@media (max-width: 768px) {
    .portfolio-thumbnails {
        grid-template-columns: repeat(1, 1fr);
    }
}

footer {
    background-color: #ffffff;
    color: #474747;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
